em {font-size: 10px; font-style: italic;}

h1 {
	font-weight: bold;
	font-size: 20px;
}

h2 {
	font-weight: bold;
	font-size: 16px;
}

h2.content-title {padding-top:15px; border-bottom:1px solid #000;}

label, strong {font-weight: bold;}

p {padding-top: 5px;}

.error-with-field input {background-color: #ff0000;}
.error {color: #ff0000;}

a {color: #000; text-decoration: none;}
a:visited {color: #000; text-decoration: none;}
a:hover {color: #000; text-decoration: none;}

.content-links ul {
	list-style-type: none;
	padding-top:15px;
}

.content-links ul li {
	width: 30px;
	float: left;
	font-size: 10px;
	text-align: center;
		padding: 5px;
}

#image-list, .image-list {
  margin-top:25px;
  width: 900px; 
  background: url('../images/background.gif') no-repeat top left;
  overflow: hidden;
  padding-bottom: 25px;
  list-style-type: none;
  }

#image-list li {
 float: left;
 padding: 5px 10px 0 9px;
}