<div id="slideshow"></div>

	<script type="text/javascript" charset="utf-8">
	
	var flashvars = {
	    xml_path:"/slideshow/:bucket/:id"
	    };
  var params = {
      menu: "false",
      wmode: "transparent"
      };
  var attributes = {};

  swfobject.embedSWF("swf/slideshow.swf", "flash", "100%", "290","9.0.0", "", flashvars, params, attributes);

  </script>