<div id="slideshow-page">
  <% form_for(:slideshow, :url => "/admin/slideshows/create", :html => {:multipart => true}) do %>
    <h2>Select a Page for the Slideshow</h2><%= select(:slideshow, :page_id, @children.all.collect {|p| [p.title, p.id]}) %>
    <p class="buttons">
      <%= save_model_button(@slideshow) %>
      or 
      <%= link_to "Cancel", {:action => :index} %>
    </p>
  <% end %>
</div>