<h1>Remove Slideshow</h1>

  <p>Are you sure you want to <strong class="warning">permanently remove</strong> the following slideshow?</p>

  <table class="index" id="links" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr class="node level-1">
        <td class="slideshow">
          <%= image('slideshows/slideshow', :alt => 'slideshow-icon') %>
          <%= h @slideshow.title %>
        </td>
      </tr>
    </tbody>
  </table>

  <% form_tag do %>
    <p class="buttons">
      <input class="button" type="submit" value="Delete Slideshow"/>
      or
      <%= link_to 'Cancel', slideshow_index_url %>
    </p>
  <%- end -%>
